.abt-ctn {
    margin-top:0 !important;
    /* background-color: #232a34; */
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(17,46,87,1) 98%);
    padding: 5rem !important;
}

.about {
    padding: 1rem;
    background-color: rgba(222, 213, 213, 0.589);
    border-radius: 3rem;
    color: #fff;
}


.animate_dist {
    padding: 0 40px;
    text-align: center;
}

.animate_dist h1 {
    font-size: 42px!important;
    font-family: 'Times New Roman', Times, serif;
}

h1, h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.animated {
    margin-bottom: 2rem;
    border-bottom: 5px solid #084f9d;
    border-radius: 5px;
    padding-bottom: 1rem;
}

.col-lg-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* .row {
    display: flex;
} */

.col-md-3 {
    width: 25%;
    padding: 0 10px;
    /* display: flex; */
    align-items: center;
}

.col-md-3 img{
    width: 100%;
    padding: auto;
}

.col-md-9 {
    width: 75%;
    padding-top: 40px !important;
}

p {
    margin-top: 0;
    margin-bottom: 4rem;
    padding: 0 4rem;
    text-align: center;
}

#audio {
    text-align: center;
    margin: auto;
}

h4 {
    font-size: 1.5rem;
}

