.hOQiSy {
    width: 100% !important;
}

.hCJOJS {
    line-height: 0 !important;
    background: #b5890f !important;
    border-radius: 10% !important;
}

svg {
color: #fff !important;
}

.epKbGN {
    top: 70% !important;
}